<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/jpeg" href="https://hackmd.io/_uploads/rkOKZ_nWWl.jpg">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="topbar">
            <a href="index.html">
                <img src="https://hackmd.io/_uploads/rkOKZ_nWWl.jpg" 
                    alt="Profile picture" 
                    width="40"
                    style="vertical-align: middle; border-radius: 4px;">
            </a>

            <a href="https://www.linkedin.com/in/jeddyang/">
                <img class="icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/72px-LinkedIn_icon.svg.png" 
                     width="40">
            </a>

            <a href="https://x.com/jeddyang">
                <img class="icon" 
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/X_logo_2023_original.svg/250px-X_logo_2023_original.svg.png"
                     width="40">
            </a>

            <a href="https://scholar.google.com/citations?user=gSdRnY4AAAAJ&hl=en">
                <img class="icon" 
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Google_Scholar_logo.svg/250px-Google_Scholar_logo.svg.png"
                     width="40">
            </a>

            <a href="https://github.com/jeddiot">
                <img class="icon" 
                     src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/brands/github.svg" 
                     width="40">
            </a>  

            <a href="https://leetcode.com/u/jeddiot/">
                <img class="icon"
                     src="https://raw.githubusercontent.com/Kanawanagasaki/vsc-leetcode/master/images/logo.png" 
                     width="40">
            </a>

            <a href="https://www.overleaf.com/read/gpjvmnvyjxtr#574be9">
                <img class="icon"
                     src="https://images.ctfassets.net/nrgyaltdicpt/2fJT673XY7Jyx0hnloYH5u/e8ab3a07b40ed4b9c18756d7741ef4dc/overleaf-o-logo-primary.png" 
                     width="40">
            </a>
        </div>
        
        <nav class="navbar navbar-expand-lg" style="background-color: #252525;" >
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="index.html">Jedd's Website</a> -->
                <button class="navbar-toggler" style="background-color: #3d3d3d;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}" aria-current="page" href="index.html">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.url contains 'skillandworks' %}active{% endif %}" href="skillandworks.html">
                                Skill & Works
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div class="container_jedd">
                {{ content }}
            </div>
        </main>
    </body>
</html>